* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: black;
}

div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}

div.row {
    height: 20px;
}

div.brick {
    background-color: blue;
}

div.coin {
    background: url("../Pacman/images/coin.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.cherry {
    background: url("../Pacman/images/cherry.png");
    background-repeat: no-repeat;
    background-position: center;
}

div#pacman {
    background: url("../Pacman/images/pacman.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

div#ghost {
    background: url("../Pacman/images/ghost.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
}

div#score {
    border: 1px solid white;
    width: 30px;
    height: 20px;
    color: white;
    padding: 7px;
    text-align: center;
    margin-top: 20px;
    margin-left: 75px;
}

div#lives {
    border: 1px solid white;
    width: 30px;
    height: 20px;
    color: white;
    padding: 7px;
    text-align: center;
    margin-top: 20px;
    margin-left: 75px;
}