* {
    margin: 0px;
    padding: 20px;
}

#wrapper {
    width: 1000px;
    background-color: silver;
    margin: 0px auto;
}

#header {
    min-height: 150px;
    background-color: green;
    margin-bottom: 20px;
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

#main_content {
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
}

.subcontents {
    min-height: 200px;
    width: 190px;
    background-color: yellow;
    display: inline-block;
    margin-bottom: 20px;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    background-color: purple;
}