.navbtn {
    width: 200px;
    height: 150px;
}

div.wrapper {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 480px) {
    .navbtn {
        background-color: yellow;
    }
    div.wrapper {
        width: 250px;
    }
}

@media only screen and (min-width: 481px) {
    .navbtn {
        background-color: blue;
    }
    div.wrapper {
        width: 410px;
    }
}

@media only screen and (min-width: 1024px) {
    .navbtn {
        background-color: red;
    }
    div.wrapper {
        width: 840px;
    }
}